# Archivos y carpetas generados por Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Mm]emoryCaptures/
UserSettings/
*.pidb
*.booproj
*.svd
*.opendb

# Archivos de logs de Unity
*.log

# VS / VS Code / Rider
.vscode/
.idea/
*.sln
*.csproj
*.unityproj
*.user
*.userprefs
*.suo
*.tmp
*.db
*.bak

# Datos de depuración
*.pdb
*.mdb

# Archivos de colisión de Git o rebase
*.orig

# Ignorar herramientas de Asset Store
Assets/AssetStoreTools*

# Crash logs
sysinfo.txt

# Sistema operativo
.DS_Store
Thumbs.db
.vsconfig
